.d1 {
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
}

.d2 {
    text-align: center;
    border: 3px solid green;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}