/* esilizacao 1 
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    height: 70px;
}*/

/* esilizacao 2 
table {
    border-collapse: collapse;
    width: 80%;
}

th ,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
}*/

*/ esilizacao 3
table {
    border-collapse: collapse;
    width: 80%;
}

th ,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightgrey;

}
tr:hover {
    background-color: cadetblue;
}