.p1 {
    text-transform: uppercase;
}

.p2 {
    text-transform: lowercase;
}

.p3 {
    text-transform: capitalize;
}

.p4 {
    text-indent: 50px;
}

.h1 {
    letter-spacing:10px;
}

.h2 {
    letter-spacing: -2px;
}

.p5 {
    line-height: 0.7;
}

.p6 {
    line-height: 2;
}

.p7 {
    word-spacing: 10px;
}

.p8 {
    word-spacing: -5px;
}

.t1 {
    text-shadow: 2px 2px;
}

.t2 {
    text-shadow: 2px 2px red;
}

.t3 {
    text-shadow: 2px 2px 5px red;
}

.t4 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.t5 {
    text-shadow: 0 0 3px red;
}

.t6 {
    text-shadow: 0 0 3px red, 0 0 5px red;
}

.t7 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color: white;
}
