{% extends "layout.html" %}

{% block title %}
    {{ sheet }} Cheat Sheet
{% endblock %}

{% block main %}
    <!-- sheet title -->
    <h1 class="text-center m-5"><b>{{ sheet }}</b> Cheat Sheet</h1>

    <!-- table of cheat sheet -->
    <div id="pagebox">

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Command</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>select all next occurrences</td>
                    <td>ctrl+shift+L</td>
                </tr>
            </tbody>

        </table>

    </div>

{% endblock %}