{% extends "layout.html" %}

{% block title %}
    {{ sheet }}
{% endblock %}

{% block main %}

    <!-- sheet title -->
    <h1 class="text-center m-5">{{ sheet }}</h1>

    <!-- table of cheat sheet -->
    <div id="pagebox">

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">What does?</th>
                    <th scope="col">Snippet</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>select all next occurrences</td>
                    <td>ctrl+shift+L</td>
                </tr>
            </tbody>

        </table>

    </div>

{% endblock %}