body {
    font-family: "Source Code Pro", monospace;
    background-color: rgb(246, 232, 234);
}


div#google_translate_element {
    text-align: right;
    margin: .5rem;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
  }


div#pagebox {
    margin: 10rem;
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}