.header {
    background-color: rgb(178, 178, 178);
    color: rgb(37, 37, 37);
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

body {
    background-color: rgb(37, 37, 37);
}

 #prTex {
    color: rgb(178, 178, 178);
    padding: 20px;
}

#secTex {
    color: rgb(255, 253, 130);
    text-align: center;
    padding: 20px;
}

#righties {
    text-align: right;
    padding: .5rem;
}

.footer {
    background-color: rgb(255, 253, 130);
    color: rgb(37, 37, 37);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-style: solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}
