body {
    font-family: "Source Code Pro", monospace;
    background-color: rgb(37, 37, 37);
}

h1 {
    background-color: rgb(178, 178, 178);
    color: rgb(37, 37, 37);
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

#texTitulo {
    color: rgb(255, 253, 130);
    text-align: center;
    text-decoration: underline;
    padding: 50px;
}

#texto {
    color: rgb(178, 178, 178);
    padding: 20px;
}

footer {
    background-color: rgb(255, 253, 130);
    color: rgb(37, 37, 37);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-style: solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}
